extends ../../../layouts/adminLayout
block admin-content 
    +page-title('Orders List','Add New Orders')
    include ../../../variables/staticContent

    //- Start Main Content
    .table-responsive.table-container(style='position: relative;')    
        table.dataTable.table.table-hover.m-0.mb-5.rounded.bg-light(id="data-table")
            thead.bg-white
                tr
                    th #[b User Name]
                    th #[b Products]
                    th #[b Total]
                    th #[b Status]
                    th #[b Date]
                    th(style="width:150px") #[b Action ]
            tbody
                each order in orders
                    tr
                        td= order.user
                        // map products html and join them
                        td
                            each product in order.products
                                p(class="d-flex align-items-center" style="gap:10px;font-weight:bold") #[span(style="width:200px")= product.name]  #[span= '$' + product.price]   #[span(style="text-transform: lowercase")= 'x ' + product.quantity]
                        td= order.total
                        td #[span(class=`mx-1 badge bg-${order.status == "completed" ? 'success' : order.status == "completed" ? 'warining' : order.status == "cancelled" ? 'danger' : 'info'}`)=order.status]
                        td= order.date
                        td
                            button(onclick=`alert(${order.id})` class='btn btn-primary btn-sm mx-2')
                                i.fas.fa-edit
                            button(onclick=`alert(${order.id})` class='btn btn-danger btn-sm mx-2')
                                i.fas.fa-trash

block scripts
    script.
        // when page loaded
        $(document).ready(function(){
            $('#data-table').DataTable(); 
            $('.preloader').fadeOut(300);
        })