include ./../../variables/adminVars
// Sidebar
nav#sidebarMenu.collapse.d-lg-block.sidebar.collapse.bg-white
    .position-sticky
        ul.list-group.list-group-flush.mx-3.mt-4
            each val , index in sidebarMenu
                if val.type == 'title'
                    li.list-group-item.list-group-item-action.py-3.mt-4
                        span= val.name
                else
                    li.list-group-item.list-group-item-action.p-0
                        a.d-block.p-3(href=`${val.link}`)
                            span 
                                i.fa-fw.me-3(class=`${val.icon}`)
                                span= val.name
                        // children 
                        if val.children != undefined && val.children.length > 0
                            ul.list-group.list-group-flush.d-none
                                each child in val.children
                                    li.list-group-item.list-group-item-action.p-0
                                        a.d-block.py-2.px-3(href=`${child.link}`)
                                            span.p-2
                                                i.fas.fa-angle-right.fas-a.fa-fw.me-3
                                                span= child.name